#-- mac os --#
.DS_Store

#-- aws assets --#
aws/

#-- api --#
php/api-shane/bin/admin/.htaccess
php/api-shane/bin/gearman/admin/config*
php/api-shane/classes/BIM/Config/Dynamic.php
php/api-shane/test/quotes.sql
php/api-shane/test/tumblr.o

#-- bash --#
bash/purge.log
ios/_deploy/*

#-- xcode --#
*.xcuserdata*
*.xcuserstate

#-- personal skratches / snipps --#
notes
ios/HotOrNot/_objc-notes/cert_stuff.txt
ios/HotOrNot/_objc-notes/curl_calls.txt
ios/HotOrNot/_objc-notes/infoplist_20140818.131000.txt
ios/HotOrNot/_objc-notes/Layer MISC.txt
ios/HotOrNot/_objc-notes/layer_id-token_JWT.json.txt
ios/HotOrNot/_objc-notes/layer_keys.txt
ios/HotOrNot/_objc-notes/Obj-C Stuff
ios/HotOrNot/_objc-notes/RegEx.txt
