#-- mac os --#
.DS_Store

#-- aws assets --#
aws/

#-- api --#
php/api-shane/bin/admin/.htaccess
php/api-shane/bin/gearman/admin/config.php
php/api-shane/classes/BIM/Config/Dynamic.php
php/api-shane/test/quotes.sql

#-- bash --#
bash/purge.log

#-- xcode --#
*.xcuserdata*
*.xcuserstate

ios/HotOrNot/Obj-C Notes
ios/HotOrNot/HotOrNot.xcodeproj/project.xcworkspace/xcuserdata/Gullinbursti.xcuserdatad/UserInterfaceState.xcuserstate
