<?php 

class BIM_Config{
    
    static protected $data = array();
    
    public static function growthEmailInvites(){
        return (object) array(
        	'to_email' => 'shane@shanehill.com',
        	'to_name' => 'leyla',
        	'from_email' => 'test@shanehill.com',
        	'from_name' => 'BIM',
        	'subject' => 'email test',
        );
    }
    
    public static function queueFuncs(){
        return array(
            'BIM_Controller_Votes' => array(
                'upvoteChallenge' => array( 'queue' => false ),
            )
        );
    }
    
    public static function staticFuncs(){
        return array(
            'BIM_Controller_Discover' => array(
                'getTopChallengesByVotes' => array( 
                    'redirect' => false,
                	'url' => "http://54.243.163.24/getTopChallengesByVotes.js",
                	"path" => '/var/www/discover.getassembly.com/getTopChallengesByVotes.js.gz'
                ),
            ),
        	'BIM_Controller_Votes' => array(
                'getChallengesByDate' => array( 
                    'redirect' => false,
                	'url' => "http://54.243.163.24/getChallengesByDate.js",
                	"path" => '/var/www/discover.getassembly.com/getChallengesByDate.js.gz'
                ),
                'getChallengesByActivity' => array( 
                    'redirect' => false,
                	'url' => "http://54.243.163.24/getChallengesByActivity.js",
                	"path" => '/var/www/discover.getassembly.com/getChallengesByActivity.js.gz'
                ),
            )
        );
    }
    
    public static function instagram(){
        return (object) array(
            'api' => (object) array(
                'client_id' => 'foo',
                'client_secret' => 'bar',
                'access_token_url' => 'https://api.instagram.com/oauth/access_token',
                'redirect_url' => "http://54.243.163.24/instagram_oauth.php"
        
            ),
            'harvestSelfies' => (object) array(
                'secsInPast' => 3600 * 24,
                'maxItems' => 10000,
                'tags' => array(
                    'selfie', 'me', 'self', 'selfpic', 'bff', 'myface', 'rateme', 'duckface'
                )
            )
        );
    }
    
    public static function twilio(){
        return (object) array(
            'api' => (object) array(
                'accountSid' => 'foo',
                'authToken' => 'bar',
                'number' => '2394313268'
            ),
        );
    }
    
    public static function tumblr(){
        return (object) array(
            'api' => (object) array(
                'consumerKey' => 'foo',
                'consumerSecret' => 'bar',
            ),
            'harvestSelfies' => (object) array(
                'secsInPast' => 3600 * 24,
                'maxItems' => 10000,
                'tags' => array(
                    'selfie', 'me', 'self', 'selfpic', 'bff', 'myface', 'rateme', 'duckface'
                )
            )
        );
    }
    
    public static function gearman(){
        return (object) array(
            'servers' => array(  
                array(
                    'host' => '127.0.0.1',
                    'port' => 4730
                ),
            ),
        );
    }
    
    public static function db(){
        return (object) array(
        	'locatorClassName' => 'BIM_Data_Locator_Simple',
        	'locatorClassPath' => 'BIM/Data/Locator/Simple.php',
        	'nodes' => array(
        		(object) array(
        			'writer' => (object) array(
        				'host' => '127.0.0.1',
        				'user' => 'root',
        				'pass' => '',
        				'dbname' => 'foo'
        			),
        			'reader' => (object) array(
        				'host' => '127.0.0.1',
        				'user' => 'root',
        				'pass' => '',
        				'dbname' => 'foo'
        			),
        		),
        	),
        );
    }
    
    public static function authenticQuotes(){
	    array(
			'itsssss summmer!!!!',
			'love this (:',
			'lol, cute!',
			'cute!!!!!!! <3<3',
			'wanna kik?',
			'do you have an iphone?',
			'iphone 5?',
			'wanna instaDM?',
			'love thisssss, love ur pics (:',
			'(: <3',
			'nice',
			'hows ur summer?',
			'out of school?',
			'????',
			'<3',
			'i like',
			'you?',
			'tbh?',
			'rate me?',
			'do you have volley?',
			'!!!!',
			'like?',
			'wanna rate me?',
			'ur cute!',
			'love ur pics',
			'your pics are cute #volley',
			'do you like my pics? #volley',
			'wanna help? #volley',
			'test with me? #volley',
			'u on volley yet? #volley',
			'volley yet? #volley',
			'are you out of school yet? #volley',
			'summer yet? #volley',
			'bored as fuck.#instagram #volley',
			'wanna kik chat? #instagram #volley',
			'wanna chat? #instagram #volley ',
			'do you have volley yet? #instagram #volley',
			'swaggggg #instagram #volley',
			'yolo #instagram #volley',
			'poke #instagram #volley',
			'(: #kik #volley',
			'(: (: $$$$$$ #kik #volley',
			'wannnna chat? #kik #volley',
			'ask.fm? #askfm #volley',
			'wanna ask? #askfm #volley',
			'wanna ask me something? #askfm #volley',
			'you so finnnnnne #volley',
			'what do you think about me? #volley',
			'wanna #volley ?',
			'how low can you go?! #volley',
			'what type of music do you like? #volley',
			'i love this pic  #volley',
			'#volley #askfm #insta',
			'dis is cute #volley #kik #lover',
			'hahah lol!! #volley',
			'wtf? #volley',
			'kik me? #volley',
			'cool pic #volley',
			'#volley me?',
			'wanna volley #volley',
			'hear about #volley yet?',
			'get #volley yet?',
			'did #volley come out yet?',
		 	'#volley #volley #volley',
			'swaggggeriffic ',
			'swag boom !!!',
			'#volley swag mother !!!',
			'sweet #volley',
			'want to trade pics #volley',
			'want free swag?',
			'you like me? #volley',
			'ask me anything? #volley',
			'want to party #volley',
			'#volley me !!!',
		);
    }
    
    public static function adQuotes(){
	    return array(
             'lol love this (: want to be a tester? bit.ly/volleyapp',
             'swaaaaaggggggggg!!!!! <3<3 are you testing volley? bit.ly/volleyapp',
             'cute pics <3 wanna help me get free itunes cards? bit.ly/volleyapp',
             'LOL!!!!!!!!!! bit.ly/volleyapp',
             'yolo bitch bit.ly/volleyapp',
             'do you have kik? bit.ly/volleyapp',
             'wanna kik? bit.ly/volleyapp',
             'want to volley? want to help me test? bit.ly/volleyapp',
             'SOOOOOOOOOOOOO cute (: bit.ly/volleyapp',
             'i <3 this bit.ly/volleyapp',
             'test with me? bit.ly/volleyapp',
             'i got a free itunes card, lol bit.ly/volleyapp',
             'lol, i gots a free itunes card bit.ly/volleyapp',
             'do you have an iphone bit.ly/volleyapp',
             'do you have an iPhone, wanna help? bit.ly/volleyapp',
             'freee 50 dolla gift cards for itunes bit.ly/volleyapp',
             'iphone? bit.ly/volleyapp',
             'hmu bit.ly/volleyapp',
             'do you have an iphone? bit.ly/volleyapp',
             'want free itunes cards? bit.ly/volleyapp',
             'free itunes cards!!!! yayyyyya! bit.ly/volleyapp',
             'you on volley? testers get free swag bit.ly/volleyapp',
             'volley testers get hoookkkkk up bit.ly/volleyapp',
             'cute pic want free itunes card? bit.ly/volleyapp',
             'bit.ly/volleyapp',
             'do you have kik ? bit.ly/volleyapp',
             'kik? bit.ly/volleyapp',
             'wanna kik me?',
             'do u want a free itunes casrd? bit.ly/volleyapp',
             'i like ur pics bit.ly/volleyapp',
             'ur pics are cool bit.ly/volleyapp',
             'swag on bit.ly/volleyapp',
             'volley testers wanted bit.ly/volleyapp',
             'bit.ly/volleyapp want to test?',
             'get volley yet bit.ly/volleyapp',
             'wanna be an app tester? bit.ly/volleyapp',
             'app tester? bit.ly/volleyapp',
             'wanna test an app with me?',
             'test apps? bit.ly/volleyapp',
             'have an iphone and want to test an app with me?',
             'have an iphone and like apps? bit.ly/volleyapp',
             'hmu if u have an iphone bit.ly/volleyapp',
             'like apps? bit.ly/volleyapp',
             'bit.ly/volleyapp like apps?',
             'want to help test? bit.ly/volleyapp',
             'want to help and own an iphone? bit.ly/volleyapp',
             'want to help and have an iphone? bit.ly/volleyapp',
             'we should volley! bit.ly/volleyapp',
             'want to volley? test this bit.ly/volleyapp',
             'app tester wanted! your cute! bit.ly/volleyapp',
             'want to help me test an app bit.ly/volleyapp',
             'check this out bit.ly/volleyapp',
             'have an iphone and love apps bit.ly/volleyapp',
             'iphone????? test this!! bit.ly/volleyapp',
             'TEST this app!! bit.ly/volleyapp',
             'wanna be an app iphone tester? bit.ly/volleyapp',
             'Test test test test this app bit.ly/volleyapp',
             'you should get up on this bit.ly/volleyapp',
             'check this out boyyyyyyyyyyyy hehe jk bit.ly/volleyapp',
             'like new apps? bit.ly/volleyapp',
             'check this out? bit.ly/volleyapp',
             'wanna test with me bit.ly/volleyapp',
             'bit.ly/volleyapp #app',
             'bit.ly/volleyapp #appinvite',
             'bit.ly/volleyapp #appinvite #appsarecool #tester',
             'DOYOU like apps bit.ly/volleyapp #appinvite',
             'wanna to help test bit.ly/volleyapp #appinvite',
             'tester? bit.ly/volleyapp #appinvite',
             'have an iphone? bit.ly/volleyapp #appinvite',
             'iphone bit.ly/volleyapp #appinvite',
             'iphone? bit.ly/volleyapp #appinvite',
             'want to help? bit.ly/volleyapp #appinvite',
             'help? bit.ly/volleyapp #appinvite',
             'tester wanted! bit.ly/volleyapp #appinvite',
	    );
    }
}
