/* --- Layout
-------------------------------------------------------*/

#primary_content,
#secondary_content,
#features,
.stores,
footer {
	padding: 0;
}

footer {
	padding: 15px 0;
}

#primary_content .content,
#secondary_content .content,
#features .content {
	width: 788px;
	margin: 0 auto;
}



/* --- Secondary Content
-------------------------------------------------------*/

#secondary_content {}

	#secondary_content .phones {
		float: left;
		width: auto;
		margin-top: -350px;
		margin-left: -70px;
	}

		#secondary_content .phones img {
			width: auto;
		}



/* --- Features
-------------------------------------------------------*/

#features {}
	
	#features .primary {
		float: left;
		margin-left: -86px;
	}
	
	#features .secondary {
		float: right;
		margin-bottom: -30px;
	}
	
	#features .hand {
		display: block;
	}