@media screen and (min-width:320px), screen and (max-device-width: 640px), screen and (-webkit-min-device-pixel-ratio: 2) {
	
	
	
	/* --- Layout
	-------------------------------------------------------*/
	
	#primary_content,
	#secondary_content,
	#features,
	.stores,
	footer {
		padding: 0 30px;
	}
	
	footer {
		padding: 15px 30px;
	}
	
	
	
	/* --- Primary Content
	-------------------------------------------------------*/
	
	#primary_content {
		padding-bottom: 150px;
	}
		
		/* --- | Nav | --- */
		
		#primary_content nav {
			display: none;
			position: static;
			padding-top: 15px;
		}
			
			#primary_content nav ul li {
				margin-left: 17px;
			}
		
		/* --- | Header | --- */
		
		#primary_content header {
			padding-top: 60px;
		}
		
			#primary_content header h1 {
				font-size: 55px;
				line-height: 1em;
			}
		
		/* --- | Signup Form | --- */
		
		#signup_form { margin-top: 30px; }
		
			#signup_form #signup {
				margin-bottom: 10px;
			}
		
			#signup_form .privacy {}
	
	
	
	/* --- Secondary Content
	-------------------------------------------------------*/
	
	#secondary_content {}
		
		#secondary_content .phones {
			margin-top: -120px;
		}
		
			#secondary_content .phones img {
				width: 100%;
			}
	
	
	
	/* --- Features
	-------------------------------------------------------*/
	
	#features h2 {
		font-size: 24px;
	}
	
		#features h3 {
			font-size: 20px;
		}
	
		#features .secondary { display: none; }
	
	
	/* --- Stores
	-------------------------------------------------------*/
	
	.stores {
		margin: 0px 0 20px;
	}
		
		.about .stores {
			padding: 0 0;
		}
		
		.stores .ios { float: left; text-align:center; margin-top: 0; }
		
		.stores .android { float: right; }
			
			.stores .android img {
				width: 120px;
			}
}

@media screen and (min-width:600px) {
	
	
	
	/* --- Primary Content
	-------------------------------------------------------*/
	
	#primary_content {
		padding-bottom: 50px;
	}
		
		/* --- | Nav | --- */
		
		#primary_content nav {
			display: block;
			position: absolute;
			padding: 0;
		}
			
			#primary_content nav ul li {
				margin-left: 35px;
			}
		
		/* --- | Header | --- */
		
		#primary_content header {}
		
			#primary_content header h1 {
				font-size: 90px;
				line-height: 1em;
			}
			
			#primary_content header h2 { font-size: 30px; }
		
		/* --- | Signup Form | --- */
		
		#signup_form {
			float: right;
			width: 325px;
			margin-top: 165px;
		}
			
			#signup_form #phone_email,
			#signup_form_2 #phone_email_2 {
				width: 325px;
			}
			
			#signup_form #signup,
			#signup_form_2 #signup_2 {
				float: right;
				width: auto;
			}
		
			#signup_form .privacy {
				line-height: 55px;
				float: right;
				margin-right: 20px;
			}
		
		/* --- | Thank you | --- */
		
		body.thankyou #signup_form h2 {
			font-weight: bold;
			margin-bottom: 1em;
		}
		
		body.thankyou #signup_form h3 {
			margin-bottom: .5em;
		}
		
		body.thankyou #signup_form p {
			margin-bottom: 1em;
		}
	
	
	
	/* --- Secondary Content
	-------------------------------------------------------*/
	
	#secondary_content {}

		#secondary_content .phones {
			float: left;
			width: 40%;
			margin-top: -350px;
		}
		
		body.thankyou #secondary_content .phones {
			margin-top: -600px;
		}
		
		#secondary_content .about {
			float: right;
			width: 325px;
			padding-top: 0px;
			text-align:justify;
	
		}
	
	
	
	/* --- About
	-------------------------------------------------------*/
	
	.about {}
		
		.about .stores {
			position: relative;
			left: 0;
		}
			
			.about .stores .android {
				float: left;
			}
	
	
	/* --- Stores
	-------------------------------------------------------*/
	
	.stores {
		position: absolute;
		left: 20px;
		top: 20px;
		margin: 0;
		padding: 0;
	}
		
		.stores .ios {
			float: left;
			margin: 3px 20px 0 0;
		}
			
		.stores .android img { width: auto; }
	
	
	
	/* --- Features
	-------------------------------------------------------*/
	
	#features {}
		
		#features h2 {
			font-size: 40px;
		}
		
		#features ul li {
			font-size: 21px;
			margin-bottom: .5em;
			padding-left: 1em;
			background-position: 0 11px;
		}
		
		#signup_form_2 h3 {
			font-size: 22px;
		}
		
		#signup_form_2 #phone_email_2 {
			float: left;
			width: 325px;
			margin-right: 15px;
		}
		
		#signup_form_2 #signup_2 {
			float: left;
			width: auto;
		}
	
		#signup_form_2 .privacy {
			text-align: left;
			clear: both;
			margin-left: 240px;
		}
		
		#features .secondary { display: block; }
	
	
	
	/* --- Footer
	-------------------------------------------------------*/
	
	footer {
		clear: both;
	}
}