<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Selfieclub.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.builtinmenlo.selfieclub</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.3</string>
		<key>CFBundleVersion</key>
		<string>20166</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/Selfieclub.app/icon_57x57.png</string>
			<string>Applications/Selfieclub.app/icon_114x114.png</string>
			<string>Applications/Selfieclub.app/icon_80x80.png</string>
			<string>Applications/Selfieclub.app/icon_120x120.png</string>
			<string>Applications/Selfieclub.app/icon_58x58.png</string>
			<string>Applications/Selfieclub.app/icon_29x29.png</string>
			<string>Applications/Selfieclub.app/icon_114x114.png</string>
			<string>Applications/Selfieclub.app/icon_57x57.png</string>
			<string>Applications/Selfieclub.app/icon_114x114.png</string>
		</array>
		<key>SigningIdentity</key>
		<string>iPhone Distribution: Built In Menlo, Inc. (9549ESJ5ZU)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2013-12-02T08:33:00Z</date>
	<key>Name</key>
	<string>Selfieclub</string>
	<key>SchemeName</key>
	<string>HotOrNot</string>
</dict>
</plist>
