/* ------------------------------------------------------
	PicChallenge
	
	Last updated: 2013.01.16
-------------------------------------------------------*/

@import url("reset.css");



/* --- Header
-------------------------------------------------------*/

header {
	height: 60px;
	margin-bottom: 40px;
	background: url(../img/header_bg.jpg) repeat-x;
}
	
	#header_content {
		position: relative;
		width: 753px;
		margin: 0 auto;
	}
	
	header h1 {
		text-indent: -9999px;
		position: relative;
		top: 12px;
		width: 137px;
		height: 38px;
		margin: 0 auto;
		background: url(../img/logo.png) no-repeat;
	}
	
	header .app_store {
		position: absolute;
		right: 0;
		top: 8px;
	}



/* --- Container
-------------------------------------------------------*/

#container {
	width: 753px;
	margin: 0 auto;
}
	
	
	
	/* --- Content
	-------------------------------------------------------*/
	
	#container .content {
		position: relative;
		margin-bottom: 25px;
		padding: 19px;
		border: 1px solid #cbcbcb;
		-webkit-border-radius: 9px;
		border-radius: 9px;
	}
		
		/* --- | Photo Challenge | --- */
		
		#container h2.photo_challenge {
			text-indent: -9999px;
			position: absolute;
			left: -102px;
			top: -22px;
			width: 127px;
			height: 106px;
			background: url(../img/photo_challenge.png) no-repeat;
		}
		
		/* --- | Challenge Info | --- */
		
		.challenge_info {
			position: relative;
			margin-bottom: 25px;
		}
				
			.challenge_info img {
				float: left;
				margin-right: 15px;
			}
			
			.challenge_info strong {
				color: #666;
			}
			
			.challenge_info em {
				font-style: normal;
				font-weight: bold;
				color: #2195d6;
			}
			
			.challenge_info h2 {
				font-size: 30px;
				font-weight: bold;
				line-height: 1em;
				color: #323232;
				margin-top: 5px;
			}
			
			/* --- | Send to Mobile | --- */
			
			.send_to_mobile_container {
				position: absolute;
				right: 0;
				top: 0;
				width: 200px;
			}

				/* --- | Button | --- */
			
				.send_to_mobile {
					position: absolute;
					right: 0;
					top: 7px;
				}
				
					.send_to_mobile a {
						font-weight: bold;
						font-size: 15px;
						line-height: 38px;
						text-decoration: none;
						color: #929292;
						padding: 0 13px;
						display: inline-block;					
						background-color: #efefef;
						background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
						background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);
						background-image:    -moz-linear-gradient(top, #efefef, #d8d8d8);
						background-image:      -o-linear-gradient(top, #efefef, #d8d8d8);
						background-image:         linear-gradient(to bottom, #efefef, #d8d8d8);
						border: 1px solid #cbcbcb;
						-webkit-border-radius: 9px;
						border-radius: 9px;
						-moz-box-shadow: inset 0 2px 0 0 #fff;
						-webkit-box-shadow: inset 0 2px 0 0 #fff;
					}
				
				/* --- | Dialog | --- */
				
				.send_dialog {
					position: absolute;
					right: -10px;
					top: 45px;
					z-index: 2;
					padding: 20px;
					background: #000;
					-webkit-border-radius: 9px;
					border-radius: 9px;
				}
				
					.send_dialog input[type="submit"] {
						font-weight: bold;
						font-size: 15px;
						line-height: 38px;
						text-decoration: none;
						color: #929292;
						padding: 0 13px;
						display: inline-block;					
						background-color: #efefef;
						background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
						background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);
						background-image:    -moz-linear-gradient(top, #efefef, #d8d8d8);
						background-image:      -o-linear-gradient(top, #efefef, #d8d8d8);
						background-image:         linear-gradient(to bottom, #efefef, #d8d8d8);
						border: 1px solid #cbcbcb;
						-webkit-border-radius: 9px;
						border-radius: 9px;
						-moz-box-shadow: inset 0 2px 0 0 #fff;
						-webkit-box-shadow: inset 0 2px 0 0 #fff;
					}
		
		/* --- | Photo Container | --- */
		
		#photo_container {
			position: relative;
			margin-bottom: 25px;
		}
			
			/* --- | Photo | --- */
			
			#photo_container .photo {
				position: relative;
				float: left;
				height: 356px;
			}
				
				/* --- | Vote | --- */
				
				#photo_container .photo .vote {
					text-transform: uppercase;
					position: absolute;
					left: 67px;
					bottom: 30px;
				}

					#photo_container .photo .vote a {
						font-weight: bold;
						font-size: 15px;
						line-height: 48px;
						text-decoration: none;
						color: #929292;
						padding: 0 35px;
						display: inline-block;					
						background-color: #efefef;
						background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
						background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);
						background-image:    -moz-linear-gradient(top, #efefef, #d8d8d8);
						background-image:      -o-linear-gradient(top, #efefef, #d8d8d8);
						background-image:         linear-gradient(to bottom, #efefef, #d8d8d8);
						border: 1px solid #cbcbcb;
						-webkit-border-radius: 9px;
						border-radius: 9px;
						-moz-box-shadow: inset 0 2px 0 0 #fff;
						-webkit-box-shadow: inset 0 2px 0 0 #fff;
					}
				
				/* --- | Vote Count | --- */
				
				#photo_container .vote_count {
					font-size: 30px;
					font-weight: bold;
					line-height: 70px;
					text-align: right;
					color: #fff;
					position: absolute;
					bottom: 0;
					left: 0;
					display: none;
					width: 326px;
					padding-right: 30px;
					background: rgba(0,0,0,0.6);
				}
				
				/* --- | Winning | --- */
				
				#photo_container .winning {
					text-indent: -9999px;
					position: absolute;
					left: 60px;
					top: 123px;
					display: none;
					width: 232px;
					height: 85px;
					background: url(../img/winning.png) no-repeat;
				}
				
				
				
				/* --- Voted
				-------------------------------------------------------*/
				
				body.voted #photo_container .vote,
				body.voted #photo_container .lightning { display: none; }
				
				body.voted #photo_container .vote_count,
				body.voted #photo_container .winner .winning { display: block; }
				
				body.voted .photo.loser { opacity: 0.4; }
				
			/* --- | Lightning | --- */
			
			#photo_container .lightning {
				position: absolute;
				left: 316px;
				top: 137px;
				width: 81px;
				height: 81px;
				background: url(../img/lightning.png) no-repeat;
			}
		
		/* --- | Nav | --- */
		
		#photo_nav {
			list-style: none;
			margin: 0;
		}
			
			#photo_nav li {
				text-indent: -9999px;
				position: absolute;
				top: 200px;
				width: 50px;
				height: 70px;
			}
			
				#photo_nav li a {
					display: block;
					height: 70px;
					background: url(../img/photo_nav.png) no-repeat;
				}
			
			#photo_nav li.prev {
				left: -51px;
			}
			#photo_nav li.next {
				right: -51px;
			}
				#photo_nav li.next a { background-position: -50px 0; }