<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>qJAZs8c4RLquTcWKuL-gug</string>
	<key>developmentAppSecret</key>
	<string>lixWRzpHQdaU9sqXqdxWCg</string>
	<key>productionAppKey</key>
	<string>MB38FktJS8242wzKOOvEFQ</string>
	<key>productionAppSecret</key>
	<string>iUcc7vc6QgqNXHMqZU4mqw</string>
</dict>
</plist>