/* ------------------------------------------------------
	kodee
	
	Last updated: 2013.03.09
-------------------------------------------------------*/

@import url("reset.css");



/* --- Fonts
-------------------------------------------------------*/

@font-face {
    font-family: 'cartogothic_stdregular';
    src: url('../fonts/cartogothicstd-book-webfont.eot');
    src: url('../fonts/cartogothicstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cartogothicstd-book-webfont.woff') format('woff'),
         url('../fonts/cartogothicstd-book-webfont.ttf') format('truetype'),
         url('../fonts/cartogothicstd-book-webfont.svg#cartogothic_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cartogothic_stdbold';
    src: url('../fonts/cartogothicstd-bold-webfont.eot');
    src: url('../fonts/cartogothicstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cartogothicstd-bold-webfont.woff') format('woff'),
         url('../fonts/cartogothicstd-bold-webfont.ttf') format('truetype'),
         url('../fonts/cartogothicstd-bold-webfont.svg#cartogothic_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titilliumtext25l800_wt';
    src: url('../fonts/Junction_02-webfont.eot');
    src: url('../fonts/Junction_02-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Junction_02-webfont.woff') format('woff'),
         url('../fonts/Junction_02-webfont.ttf') format('truetype'),
         url('../fonts/Junction_02-webfont.svg#titilliumtext25l800_wt') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* --- Primary Content
-------------------------------------------------------*/

#primary_content {
	background: #1eb087;
}
	
	/* --- | Nav | --- */
	
	#primary_content nav {
		font-size: 17px;
		position: absolute;
		right: 20px;
		top: 20px;
		display: block;
	}
		
		#primary_content nav ul {
			list-style: none;
			margin: 0;
		}
		
			#primary_content nav ul li {
				display: inline;
				margin-left: 35px;
			}
				
				#primary_content nav ul li a {
					text-decoration: none;
					color: #fff;
				}
	
	/* --- | Header | --- */
	
	#primary_content header {}
		
		#primary_content header h1 {
			font-family: 'titilliumtext25l800_wt';
			text-align: center;
			text-shadow: rgba(0,0,0,0.5) -2px 0, rgba(0,0,0,0.3) 0 -2px;
			color: #fff;
			margin-bottom: 20px;
		}
		
		#primary_content header h2 {
			font-family: 'cartogothic_stdregular';
			text-align: center;
			color: #09724e;
			margin-bottom: 20px;
		}
	
	/* --- | Signup Form | --- */
	
	#signup_form {
		color: #fff;
	}
		
		#signup_form h3 {
			font-size: 22px;
			color: #fff;
			margin-bottom: 30px;
		}
		
		#signup_form input[type="text"] {
			font-size: 18px;
			text-align: center;
			color: #999;
			display: block;
			width: 100%;
			margin-bottom: 30px;
			padding: 15px 10px;
			border: 0;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			-webkit-background-clip: padding-box; background-clip: padding-box;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
		}
		
		#signup_form #phone_email {
			font-size: 18px;
			text-align: center;
			color: #999;
			display: block;
			width: 100%;
			margin-bottom: 30px;
			padding: 15px 10px;
			border: 0;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			-webkit-background-clip: padding-box; background-clip: padding-box;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
		}
		
		#signup_form #signup {
			font-size: 20px;
			letter-spacing: 1px;
			text-align: center;
			text-shadow: rgba(0,0,0,0.3) -2px 0, rgba(0,0,0,0.5) 0 -2px;
			color: #fff;
			display: block;
			width: 100%;
			padding: 15px;	
			
			background-color: #3793ed;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#3793ed), to(#0f87d8));
			background-image: -webkit-linear-gradient(top, #3793ed, #0f87d8);
			background-image:    -moz-linear-gradient(top, #3793ed, #0f87d8);
			background-image:      -o-linear-gradient(top, #3793ed, #0f87d8);
			background-image:         linear-gradient(to bottom, #3793ed, #0f87d8);
			border: 1px solid #000;
			-webkit-border-radius: 10px;
				border-radius: 10px;
			-webkit-background-clip: padding-box; background-clip: padding-box;
			-webkit-box-shadow: inset 0px 1px 0px 0px rgba(144, 189, 234, 1);
		        box-shadow: inset 0px 1px 0px 0px rgba(144, 189, 234, 1);
		}
		
		#signup_form .privacy {
			font-size: 14px;
			letter-spacing: 1px;
			text-align: center;
			margin-bottom:40px;	
		
		}
		
			#signup_form .privacy a { color: #229970; }



/* --- Secondary Content
-------------------------------------------------------*/

#secondary_content {
	background: #e6e6e6;
	-webkit-box-shadow: inset 0px -5px 5px 0px rgba(209, 209, 209, .8);
	box-shadow: inset 0px -5px 5px 0px rgba(209, 209, 209, .8);
}
	
	#secondary_content .content {
		padding-bottom: 15px;
	}
	
	#secondary_content p { 
		
		margin-bottom: 1em;
		text-align:justify;
	
			color: #5a5a5a;
		
		}



/* --- Stores
-------------------------------------------------------*/

.stores {}
	
	.stores .android {
		margin-top: -2px;

	}
	
	.stores .ios{
	
	
	}



/* --- Features
-------------------------------------------------------*/

#features {}
	
	#features .content { padding: 60px 0px 30px;}
	
		#features .content h2 {
			margin-bottom: 1em;
		}
			
			#features .content h2 strong { color: #28bb8a; }
		
		#features ul {
			color: #1387da;
			list-style: none;
			margin: 10px 0;
		}
			
			#features ul li {
				margin: 0 0 0 1em;
				padding-left: 2em;
				background: url(../img/bullet.png) no-repeat 0 7px;
				font-size: 16px;
			}
	
	/* --- | Hand | --- */
	
	#features .hand {
		display: none;
	}
	
	/* --- | Signup Form | --- */
	
	#signup_form_2 {
		padding-top: 1em;
	}
		
		#signup_form_2 h3 {
			font-size: 17px;
			color: #28bb8a;
			margin-bottom: 30px;
		}
		
		#signup_form_2 #phone_email_2 {
			font-size: 18px;
			text-align: center;
			color: #999;
			display: block;
			width: 100%;
			margin-bottom: 30px;
			padding: 17px 10px;
			background: #e6e6e6;
			border: 0;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			-webkit-background-clip: padding-box; background-clip: padding-box;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
			-webkit-box-shadow: inset 0px 1px 0px 0px rgba(137, 137, 137, 1);
	        box-shadow: inset 0px 1px 0px 0px rgba(137, 137, 137, 1);
		}
		
		#signup_form_2 #signup_2 {
			font-size: 20px;
			letter-spacing: 1px;
			text-align: center;
			text-shadow: rgba(0,0,0,0.3) -2px 0, rgba(0,0,0,0.5) 0 -2px;
			color: #fff;
			display: block;
			width: 100%;
			padding: 15px;			
			background-color: #3793ed;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#3793ed), to(#0f87d8));
			background-image: -webkit-linear-gradient(top, #3793ed, #0f87d8);
			background-image:    -moz-linear-gradient(top, #3793ed, #0f87d8);
			background-image:      -o-linear-gradient(top, #3793ed, #0f87d8);
			background-image:         linear-gradient(to bottom, #3793ed, #0f87d8);
			border: 1px solid #000;
			-webkit-border-radius: 10px;
				border-radius: 10px;
			-webkit-background-clip: padding-box; background-clip: padding-box;
			-webkit-box-shadow: inset 0px 1px 0px 0px rgba(144, 189, 234, 1);
		        box-shadow: inset 0px 1px 0px 0px rgba(144, 189, 234, 1);
		}
		
		#signup_form_2 .privacy {
			font-size: 12px;
			letter-spacing: 1px;
			text-align: center;
			margin-top:20px;
		}
		
			#signup_form_2 .privacy a { color: #76deba; }



/* --- Footer
-------------------------------------------------------*/

footer {
	background: #e6e6e6;
	-webkit-box-shadow: inset 0px 5px 5px 0px rgba(209, 209, 209, .8);
	box-shadow: inset 0px 5px 5px 0px rgba(209, 209, 209, .8);
}
	
	footer nav {
		text-align: center;
	}
		
		footer nav a {
			font-size: 15px;
			color: #686868;
			margin: 0 0 1em 15px;
		}
		
		footer nav a:first-child {
			margin-left: 0;
		}
	
	footer .copyright {
		font-size: 12px;
		text-align: center;
		color: #686868;
	}