<?php 

class BIM_Config_Dynamic{
    
    public static function app(){
        return (object) array(
            'base_path' => '/hotornot/api-shane'
        );
    }

    public static function growthEmailInvites(){
        return (object) array(
        	'to_email' => 'shane@shanehill.com',
        	'to_name' => 'leyla',
        	'from_email' => 'test@shanehill.com',
        	'from_name' => 'BIM',
        	'subject' => 'email test',
        );
    }
    
    public static function smtp(){
        return (object) array(
            'host' => 'smtp.mandrillapp.com',
            'port' => 587,
            'username' => '',
            'password' => ''
        );
    }

    public static function warningEmail(){
        return (object) array(
            'emailData' => (object) array(
            	'to_email' => 'shane@shanehill.com',
            	'from_email' => 'apps@builtinmenlo.com',
            	'from_name' => 'Built In Menlo',
            	'subject' => 'Warning From Botlandia!!',
            	'text' => '',
            ),

            'smtp' =>  (object) array(
                'host' => 'smtp.mandrillapp.com',
                'port' => 587,
                'username' => 'apps@builtinmenlo.com',
                'password' => 'JW-zqg_yVLs7suuVBwG_xw'
            )
        );
    }
    
    public static function smtp(){
        return (object) array(
            'host' => 'smtp.mandrillapp.com',
            'port' => 587,
            'username' => '',
            'password' => ''
        );
    }

    public static function queueFuncs(){
        return array(
            'BIM_Controller_Votes' => array(
                'upvoteChallenge' => array( 'queue' => false ),
            )
        );
    }
    
    public static function staticFuncs(){
        return array(
            'BIM_Controller_Discover' => array(
                'getTopChallengesByVotes' => array( 
                    'redirect' => false,
                	'url' => "http://54.243.163.24/getTopChallengesByVotes.js",
                	"path" => '/var/www/discover.getassembly.com/getTopChallengesByVotes.js.gz'
                ),
            ),
        	'BIM_Controller_Votes' => array(
                'getChallengesByDate' => array( 
                    'redirect' => false,
                	'url' => "http://54.243.163.24/getChallengesByDate.js",
                	"path" => '/var/www/discover.getassembly.com/getChallengesByDate.js.gz'
                ),
                'getChallengesByActivity' => array( 
                    'redirect' => false,
                	'url' => "http://54.243.163.24/getChallengesByActivity.js",
                	"path" => '/var/www/discover.getassembly.com/getChallengesByActivity.js.gz'
                ),
            )
        );
    }
    
    public static function instagram(){
        return (object) array(
            'link_for_bio' => 'http://getvolleyapp.com/b/b',
            'api' => (object) array(
                'client_id' => 'foo',
                'client_secret' => 'bar',
                'access_token_url' => 'https://api.instagram.com/oauth/access_token',
                'redirect_url' => "http://54.243.163.24/instagram_oauth.php"
        
            ),
            'harvestSelfies' => (object) array(
                'secsInPast' => 3600 * 24,
                'maxItems' => 10000,
                'tags' => array(
                    'selfie', 'me', 'self', 'selfpic', 'bff', 'myface', 'rateme', 'duckface'
                )
            )
        );
    }
    
    public static function twilio(){
        return (object) array(
            'api' => (object) array(
                'accountSid' => 'foo',
                'authToken' => 'bar',
                'number' => '2394313268'
            ),
        );
    }
    
    public static function tumblr(){
        return (object) array(
            'api' => (object) array(
                'consumerKey' => 'foo',
                'consumerSecret' => 'bar',
            ),
            'harvestSelfies' => (object) array(
                'secsInPast' => 3600 * 24,
                'maxItems' => 10000,
                'tags' => array(
                    'selfie', 'me', 'self', 'selfpic', 'bff', 'myface', 'rateme', 'duckface'
                )
            )
        );
    }
    
    public static function gearman(){
        return (object) array(
            'servers' => array(  
                array(
                    'host' => '127.0.0.1',
                    'port' => 4730
                ),
            ),
        );
    }
    
    public static function memcached(){
        return (object) array(
            'servers' => array(  
                (object) array(
                    'host' => '127.0.0.1',
                    'port' => 11211
                ),
            ),
        );
    }

    public static function db(){
        return (object) array(
        	'locatorClassName' => 'BIM_Data_Locator_Simple',
        	'locatorClassPath' => 'BIM/Data/Locator/Simple.php',
        	'nodes' => array(
        		(object) array(
        			'writer' => (object) array(
        				'host' => '127.0.0.1',
        				'user' => 'root',
        				'pass' => '',
        				'dbname' => 'foo'
        			),
        			'reader' => (object) array(
        				'host' => '127.0.0.1',
        				'user' => 'root',
        				'pass' => '',
        				'dbname' => 'foo'
        			),
        		),
        	),
        );
    }
    
    public static function urbanAirship(){
        return (object) array(
            'api' => (object) array(
                // 'pass_key' => "qJAZs8c4RLquTcWKuL-gug:mbNYNOkaQ7CZJDypDsyjlQ", // dev
                'pass_key' => "MB38FktJS8242wzKOOvEFQ:2c_IIFqWQKCpW9rhYifZVw", // live
                'push_url' => 'https://go.urbanairship.com/api/push/',
            ),
        );
    }

    public static function elasticSearch(){
        return (object) array(
            'api_root' => 'http://127.0.0.1:9200'
        );
    }
    
    public static function sms(){
        return (object) array(
            'code_pattern' => '@\b(c1.+?1c)\b@i',
            'secret' => 'our secret yo',
        );
    }
}
