<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>8pnbIf6vTnmzkeFWvHjcnQ</string>
	<key>developmentAppSecret</key>
	<string>xT4DbYZcQ7WFMsjFUO0BKw</string>
	<key>productionAppKey</key>
	<string>YouZb954TnGZa1IJSjX1lg</string>
	<key>productionAppSecret</key>
	<string>hS4wzh6dQTmsdTV_hKgelw</string>
</dict>
</plist>
